.header{
    width: 100%;
    background: #000;
    padding: 0.5rem;
    height: 60px;
}

.header-container{
    width: 80%;
    margin: 0 auto;
}


li:last-child{
    font-size: 20px;
    color: #fff;
    position: relative;
    top: 5px;
}