@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  transition: transform 0.5s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-center {
  align-items: center;
}
.item-start {
  display: flex;
  align-items: start;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex-col {
  flex-direction: column;
}

.gap {
  gap: 10px;
}

.btn-gradient {
  background: linear-gradient(to right, #f69805, #df4156);
}
